@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

.dia-container {
    font-family: "Nunito", sans-serif !important;
    text-align: center;
    height: 130px;
    width: 85px;
    border-radius: 10px;
    box-shadow: 0 0 1.5rem rgba(0,0,255,.1);;
    padding: 2px;
    margin: 3px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "dia"
      "icono"
      "temp";
      font-size: 13px;
      font-weight: 600;

      &-dia { grid-area: dia; }

      &-icono {  grid-area: icono; }

      &-temp { 
          width: 100%;
          grid-area: temp; 
          display: flex;
          justify-content: space-evenly;
        }
  }
